
div.left_panel {
	float: left; 
	height: 200px; 
	width: 10%;
}

div.center_panel {
	float: left; 
	height: 200px; 
	width: 75%;
	border: 2px solid black;
	border-radius: 10px;
	padding-left: 5px;
}

div.right_panel {
	float: right; 
	height: 200px; 
	width: 10%;
}

div.mechanics_upgrades {
	width: 95%;
	height: 100px;
	border: 2px solid black;
	border-radius: 10px;
	display: none;
	clear: both;
	padding-left: 5px;
	padding-top: 5px;
}

div.stats_upgrades_and_listing {
	width: 100%;
	height: 200px;
	visibility: hidden;
}

a.pi {
	position: absolute;
	bottom: 0;
	color: gray;
	font-size: smaller;
	clear: both;
}

@keyframes sunset { /* Sweet fade animation that makes it look like I know what I'm doing */
    from {
		background-color: black;
		color: white;
	}
    to {
		background-color: white;
		color: black;
	}
}

span.end_night_text:last-child { /* Only gets the LAST end_night_text element! */
	animation-name: sunset;
    animation-duration: 2s;
}

button {
	border-radius: 7px;
}