
div.left_panel {
	float: left; 
	height: 200px; 
	width: 10%;
}

div.center_panel {
	float: left; 
	height: 200px; 
	width: 75%;
	border: 2px solid black;
	border-radius: 10px;
	padding-left: 5px;
}

div.right_panel {
	float: right; 
	height: 200px; 
	width: 10%;
}

div.mechanics_upgrades {
	width: 95%;
	height: 100px;
	border: 2px solid black;
	border-radius: 10px;
	display: none;
	clear: both;
	padding-left: 5px;
	padding-top: 5px;
}

div.stats_upgrades_and_listing {
	width: 100%;
	height: 200px;
	visibility: hidden;
}

a.pi {
	position: absolute;
	bottom: 0;
	color: gray;
	font-size: smaller;
	clear: both;
}

@keyframes sunset { /* Sweet fade animation that makes it look like I know what I'm doing */
    from {
		background-color: black;
		color: white;
	}
    to {
		background-color: white;
		color: black;
	}
}

@keyframes shake { /* For jittery things. Based on code from w3schools.com */
    0%   { transform: translate(1px, 1px) rotate(0deg); }
    10%  { transform: translate(-1px, -2px) rotate(-1deg); }
    20%  { transform: translate(-3px, 0px) rotate(1deg); }
    30%  { transform: translate(3px, 2px) rotate(0deg); }
    40%  { transform: translate(1px, -1px) rotate(1deg); }
    50%  { transform: translate(-1px, 2px) rotate(-1deg); }
    60%  { transform: translate(-3px, 1px) rotate(0deg); }
    70%  { transform: translate(3px, 1px) rotate(-1deg); }
    80%  { transform: translate(-1px, -1px) rotate(1deg); }
    90%  { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

span.end_night_text:last-child { /* Only gets the LAST end_night_text element! */
	animation-name: sunset;
    animation-duration: 2s;
}

span.shaky_text { 	
	animation-name: shake;
	animation-duration: .4s;
	animation-iteration-count: 2;
	display: inline-block;
}

button {
	border-radius: 7px;
}